@model IEnumerable<Music.PhotoAlbumDetail>
@{
    ViewBag.Title = "AlbumDetail";
    Layout = "~/Views/Shared/Admin_Layout_Page.cshtml";
    ViewBag.PageTitle = "Album Detail";
}

<link href="~/css/lightcase.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/font-awesome.min.css" />
<link href="//fonts.googleapis.com/css?family=Varela+Round&subset=hebrew" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<script>
    $(document).ready(function () {


        $("#menu1").children().removeClass("active");
        $("#menu1").children("#liAlbumInfo").addClass("active");

    });
</script>
<div class="banner-bottom">
    <div class="container">
        @*<div class="agileits_heading_section">
                <h2 class="agileinfo_header">Portfolio</h2>
                <p class="agileits_dummy_para">Fusce elementum sem ut ex condimentum facilisis.</p>
            </div>*@
        
        <div class="row">
            <div>
                <div class="col-md-2" style="margin:4px;">
                    <a href="@Url.Action("AddPhotos","Admin")" class="btn btn-success">Add Photos</a>
                </div>
                <div class="col-md-2" style="margin:4px;">
                    <a href="@Url.Action("AlbumInfo", "Admin")" class="btn btn-default">Back</a>
                </div>
            </div>
        </div>
        
        <div class="w3ls_portfolio_grids">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 agileinfo_portfolio_grid">
                        <div class="w3_agile_portfolio_grid1">
                            <a href="~/Uploaded/@item.Photo" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Photo Album">
                                <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                    <div class="w3layouts_port_head">
                                        <h3>Album @item.PhotoAlbum.Title</h3>
                                    </div>
                                    <img src="~/Uploaded/@item.Photo" alt=" " class="img-responsive" />
                                </div>
                            </a>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    @Html.ActionLink("Delete", "AlbumPhotoDelete", new { id = item.PhotoAlbumDetail_Id })
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                }
            

            <div class="clearfix"> </div>
        </div>
    </div>
</div>







<script src="~/js/lightcase.js"></script>
<script src="~/js/jquery.events.touch.js"></script>
<script>
    $('.showcase').lightcase();
</script>
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        /*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>

