@model Music.AudioType
@{
    ViewBag.Title = "EditSongType";
    Layout = "~/Views/Shared/Admin_Layout_Page.cshtml";
    ViewBag.PageTitle = "Edit Song Type";
}

<script>
    $(document).ready(function () {


        $("#menu1").children().removeClass("active");
        $("#menu1").children("#liSongInfo").addClass("active");

    });
</script>
@if (ViewBag.error != null)
{
    <div class="container" align="center">
        <span style="color:#FF3720">@ViewBag.error</span>
    </div>
}
<div class="mail">
    <div class="container">
        <div class="col-md-4 agileits_mail_grid_left">
            <form method="post" enctype="multipart/form-data">
                <h4>Edit AudioType*</h4>
                <input type="text" name="type" value="@Html.DisplayFor(item=>Model.AudioType1)" style="border-radius:4px;" required="" />
                <div class="row">
                    <div>
                        <div class="col-md-3">
                            <input type="submit" style="border-radius:4px;width:80px;height:30px;padding:0.5px;" value="Edit">
                        </div>
                        <div class="col-md-2">
                            <a href="@Url.Action("AddSongType","Admin")" class="btn btn-default" style="margin-top:15px;">Back</a>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
